.container {
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
}

.page-title, .section-title {
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.page-title {
    font-size: 24px;
}

.section-title {
    font-size: 20px;
}

.centered {
    text-align: center;
}

.login-container {
    width: 370px;
    max-width: 100%;
    margin: 50px auto 0;

    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.field {
    padding: 6px 10px 5px;

    border-radius: 5px;
    border: solid gray 1px;
    margin: 4px;
}

::placeholder {
    font-size: 15px;
    color: darkgray;
}

.button {
    padding: 6px 10px 5px;

    font-size: 15px;

    border: solid gray 1px;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

.submitButton {
    margin: 7px;
}

.noaccount-text {
    margin: 10px 0 0;
    font-size: 12px;
}

.haveAccount-text {
    margin: 0px;
    font-size: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.header-logo {
    margin-right: 5px;
    color: darkred;
}

.header-link {
    margin-left: 15px;
    font-size: 15px;
    color: slategray;
    text-decoration: underline;
}

.header-button {
    font-size: 15px;
    color: grey;

    padding-top: 5px;
}

.search-field {
    margin: 0px;
    padding: 6px 10px 5px;

    font-size: 16px;
}

.search-field::placeholder {
    color: darkgray;
}

.search-button {
    padding-left: 10px;
    padding-right: 10px;
}

.search-title {
    font-size: 14px;
    color: grey;
    margin: 1px;
}

/*---*/

.catalog-books {
    padding-left: 0;
}

.catalog-books .book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.book-title-text {
    margin-top: 0;
    margin-bottom: 13px;

    font-size: 18px;
    font-weight: normal;
}

.book-info-author, .book-info-publisher {
    font-size: 15px;
}

.book-info-publisher {
    color: grey;
}

.book-info-title {
    margin-bottom: -8px;
}

.book-status-text {
    font-size: 12px;
    color: gray;
}

.book-info-button {
    font-size: 14px;
}

.profile-title {
    margin-bottom: 0px;
}

.profile-name {
    margin-top: -10px;
    font-size: 14px;
    color: gray;
}

.notification {
    display: inline-block;
    margin: 0 auto 20px;
    padding: 7px 15px;

    font-size: 13px;

    border: solid 1px;
    border-radius: 5px;
}

.notifications-title {
    font-size: 13px;
}

.notification-overdue, .notification-error, .notification.negative {
    color: red;
    border-color: red;
    background-color: #fce7e7;
}

.notification.positive, .notification-success {
    color: #649d46;
    border-color: #649d46;
    background-color: #eff5ec;
}

.nonotif, .no-results {
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: grey;
}

.records {
    width: 100%;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: solid lightgrey 1px;
}

thead th {
    font-size: 13px;
    font-family: sans-serif;
    color: darkgrey;
    text-align: left;
    padding-bottom: 5px;
}

th#theadBookName {
    width: 40%;
}

tbody th {
    padding: 9px 0;
    font-size: 15px;
    text-align: left;
    font-weight: normal;
}

.thInfo {
    text-align: center;
}

.loanRecord th:first-of-type {
    font-size: 16px;
}

.status {
    text-transform: capitalize;
}

.status-archived {
    background-color: greenyellow;
}

.status-open {
    background-color: #478ef1;
}

.status-overdue {
    background-color: #ec5d26;
}