<%- typeof userId === 'undefined' ? include('templates/guestHeader.html') : include('templates/userHeader.html'); -%>

<div class="container catalog-container">
    <h1 class="page-title">Books catalog</h1>
    <p class="search-title">Search by</p>
    <div class="search">
        <form class="book-search-form" method="post">
            <input class="field search-field" name="bookTitle" type="text" id="bookTitle" placeholder="Book title">
            <input class="field search-field" type="text" name="authorName" id="authorName" placeholder="Author name">
            <input class="button search-button" type="submit" value="Go">
        </form>
    </div>
    <hr color="lightgrey" size="1px">
    <ul class="catalog-books">

        <% if(typeof books !== 'undefined' && books.length > 0){ %>
        <% books.forEach((book) => { %>
        <% if(book.status() == 1) { %>
        <%- include('templates/book_available.html', {book: book}); %>
        <% } else { %>
        <%- include('templates/book_borrowed.html', {book: book}); %>
        <% } %>
        <% }) %>
        <% } else { %>

        <p class="no-results">No results</p>

        <% } %>

    </ul>
</div>
<%- include('templates/footer.html'); -%>