<%- include('templates/userHeader.html'); -%>

<div class="container profile-container">
    <h1 class="page-title">My Profile</h1>
    <p class="profile-name"><%= reader.username %></p>
    <h2 class="section-title">My notifications</h2>
    <div class="notifications">
        <% if(notifications.length > 0) { %>

        <% notifications.forEach(function(n) { %>

        <p class="notification <%= n.getType() %>">
            <%= n.message %>
        </p>

        <% }); %>

        <% } else { %>

        <p class="nonotif">No active notifications</p>

        <% } %>
    </div>
    <p class="section-title records-title">My loan records</p>

    <% if(loanRecords.length > 0) { %>

    <table class="records">
        <thead>
        <tr>
            <th id="theadBookName">Book name</th>
            <th class="thInfo">Loaned on</th>
            <th class="thInfo">Returned on</th>
            <th class="thInfo">Status</th>
        </tr>
        </thead>
        <tbody>

        <% loanRecords.forEach(function(record) { %>

        <tr class="loanRecord">
            <th><%= record.book().title %></th>
            <th class="thInfo"><%= record.loanDate %></th>
            <th class="thInfo"><%= record.isArchived() ? record.returnDate : '-' %></th>
            <th class="thInfo status-<%= record.status() %>"><span><%= record.status() %></span></th>
        </tr>

        <% }); %>

        </tbody>
    </table>

    <% } else { %>

    <p class="nonotif">No loan records yet</p>

    <% } %>

</div>

<%- include('templates/footer.html'); -%>