<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>KPI Library</title>
</head>

<body>
    <div class="header">
        <div class="header-right">
            <b class="header-logo">KPI</b>
            <b class="header-title">Library</b>
            <a href="" class="header-link">Books catalog</a>
        </div>
        <div class="header-left">
            <input class="button header-button" type="button" value="Log in">
            <a href="signup.html" class="header-link">Sign up</a>
        </div>
    </div>
    <hr>
